<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.coryforsyth.phonegap.cuteanimal"
	version 	= "1.2.0">

	<name>Vibrating Animal</name>

	<description>
		The icon is a cute animal
	</description>

	<author href="http://bantic.github.com"
		email="cory.forsyth@gmail.com">
		Cory Forsyth
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>

	<preference name="orientation" value="portrait" />
</widget>
